<!DOCTYPE html>
<html ng-app='quoteBook'>

<head>
    <meta charset="utf-8">
    <title>Quote Book</title>
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
</head>

<body ng-controller='mainCtrl'>
    <div class="input">
        Filter: <input type='text' ng-model='filterText' class="filter" />
        <input type="text" placeholder='Add new quote' ng-model='newQuoteText' />
        <input type='text' placeholder="Add quote author" ng-model='newQuoteAuthor' / />
        <button ng-click='addQuote()'>Add Quote</button>
    </div>

    <p ng-repeat="quote in quotes | filter: filterText track by $index" class='quoteList'>
        <span class="text">{{quote.text}}</span>
        <span class='author'>{{quote.author}}</span>
        <button class='delete' ng-click='deleteMe(quote.text)'>Delete</button>
    </p>


    <script src=" https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js "></script>
    <script type="text/javascript " src='js/app.js'></script>
    <script type="text/javascript " src='js/controller.js'></script>
    <script type="text/javascript " src='js/mainService.js'></script>
</body>

</html>
